
/* Descripcion general del area de trabajo*/
*{
    background: #d7d9e0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    overflow-y: hidden;
}

/*  Logo alura*/
.logo-alura{
    padding-top: 10px;
    margin-left: 10px;
    width: 3%;
}

/* Principal*/
main{
    display: flex;
    flex-wrap: wrap ;
    margin-bottom: 7px;
    margin-left: 280px;/*180px;*/
    justify-content: space-between;

}

/* Titulos */

.titulo-textarea,
.titulo-mensaje{
    font-family: 'Monserrat', sans-serif;
    font-size: medium;
    color: #0A3871;
    margin-top: 1px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
   }


/* Area de textos*/

.text-area{
    border: none;
    color: #0A3871;
    margin-left: 10%; 
    text-transform: lowercase;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 2.5%;  
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
    overflow-y: auto;
    scrollbar-color: #0A3871 ;
    resize: none;
    flex: 1;
    margin: 20px;   
}

::placeholder{ color: #0A3871}
    .text-area:focus {
        outline: none;
    }

.mensaje{
    background: white;
    background-image: url("/imagenes/Muñeco2.png");
    background-position: 50%;
    background-repeat: no-repeat;
    border:none;
    border-radius: 24px;
    color: #0A3871;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
    overflow-y: auto;
    resize: none;
    flex: 1;
    margin: 10px;
}
.mensaje:focus{
    outline: none;
}

/* Botones de la interfaz*/

.botones{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 15px;
   
}


.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 57px;
    width: 250px;   
    flex: 1;
    margin: 5px;
    transition: background-color0.3s ease;
}

.boton-encriptar:hover{
    background-color: #366ab4;
}

.boton-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 57px;
    width: 250px; 
    flex: 1;
    margin: 5px;
}

.boton-desencriptar:hover{
    background-color: #adc6eb;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 57px;
    width: 200px; 
    position: relative;
    margin-left: 0; 
    margin-top:0; 
}


.copiar:before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(7, 10, 187, 0.1);
    transition: all 1s ease;
  }
  
  .copiar:hover:before {
      width: 100%;
      }
   
.informacion{
    color: #495057;
    font-size: 14px;
    margin-left: 140px;
}


.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: #0A3871;
  }
  
  .footer span {
    color: #e74c3c;
  }

  @media(max-width:768px) {

    main {
        margin-left: 10px; 
        margin-right: 10px; 
    }
    
    .titulo-textarea, 
    .titulo-mensaje {
        margin-left: 0; 
    }

    .text-area, 
    .mensaje {
        flex-basis: 100%; 
        margin-left: 0; 
    }

    .botones {
        flex-direction: column; 
    }

    .boton-encriptar, 
    .boton-desencriptar, 
    .copiar {
        width: 100%; 
    }

    .copiar {
        position: relative; 
        margin: 0;
    }

    .informacion {
        margin-left: 10px; 
    }
}

@media (max-width: 480px) {
    .titulo-textarea, .titulo-mensaje {
        font-size: small; 
    }

    .text-area, .mensaje {
        padding: 5px; 
    }
}
    
    